.sidebar-content{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .filters{
        flex: 1;
        overflow-y: auto;
        padding: 12px;
    }

    .btn-groups{
        flex: 0 40px;
        padding: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;

        .am-button{
            width: 36%;
            max-width: 136px;
            font-size: 16px;
            box-sizing: border-box;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            
            &:before{
                border-radius: 40px;
            }
        }
    }

    .areas-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .am-button{
            margin-right: 5px;
            margin-bottom: 5px;
            flex: 1 0 auto;
            font-size: 12px;
            height: 24px;
            line-height: 24px;
        }
    }

    .sub-title {
        color: #888;
        font-size: 14px;
        line-height: 32px;
        margin: 0;
    }

    .am-list-line{
        .am-list-content{
            font-size: 14px;
        }
    }
}

.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    
    .am-drawer-sidebar {
        background-color: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}